# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

tenant:
  name: ###ZARF_VAR_TENANT###
  configuration:
    name: ###ZARF_VAR_TENANT###
    existingSecret: true
  configSecret:
    accessKey: null
    secretKey: null
    existingSecret: true
  pools:
      # 1x4 for standalone
      # NxV where NxV > 4 for distributed
    - servers: 1
      name: pool-0
      volumesPerServer: 4
      size: 1Gi
  metrics:
    enabled: true
    port: 9000
    protocol: http
  certificate:
    requestAutoCert: false
