tenant:
  name: ###ZARF_VAR_TENANT###


  imagePullSecret: { }
  scheduler: { }

  configuration:
    name: ###ZARF_VAR_TENANT###
    existingSecret: true
  pools:
      # 1x4 for standalone
      # NxV where NxV > 4 for distributed
    - servers: 1
      name: pool-0
      volumesPerServer: 4
      size: 1Gi
  metrics:
    enabled: true
    port: 9000
    protocol: http
  certificate:
    requestAutoCert: false