{{- range .Values.apps }}
{{- $password := (.copyPassword.password | default (randAlphaNum 32)) | b64enc }}
{{- $user := (.copyPassword.user | default .name) | b64enc }}
{{- $secretName := .copyPassword.secretName | default (printf "minio-%s" .name) }}
{{- $secretIDKey := .copyPassword.secretIDKey | default "accessKey" }}
{{- $secretPasswordKey := .copyPassword.secretPasswordKey | default "secretKey" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: minio
type: Opaque
data:
  {{- $data := dict $secretIDKey $user }}
  {{- $data = merge $data (dict $secretPasswordKey $password) }}
  {{- toYaml $data | nindent 2 }}
---  
{{- if .copyPassword.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: {{ .namespace | default $.Release.Namespace }}
type: Opaque
data:
  {{- $data := dict $secretIDKey $user }}
  {{- $data = merge $data (dict $secretPasswordKey $password) }}
  {{- toYaml $data | nindent 2 }}
{{- end }}
---
{{- end }}
