# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

{{- range .Values.apps }}

{{- $existingSecret := lookup "v1" "Secret" "minio" (printf "minio-%s" .name) }}
{{- $password := (.password | default (randAlphaNum 32)) | b64enc }}
{{- if and ($existingSecret) (not .password) }}
  {{- $decoded := index $existingSecret.data "secretKey" }}
  {{- $password = $decoded }}
{{- end }}
{{- $user := (.user | default .name) | b64enc }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ (printf "minio-%s" .name) }}
  namespace: minio
type: Opaque
data:
  {{- $data := dict "accessKey" $user }}
  {{- $data = merge $data (dict "secretKey" $password) }}
  {{- toYaml $data | nindent 2 }}
---  
{{- $secretName := .copyPassword.secretName | default (printf "minio-%s" .name) }}
{{- $secretIDKey := .copyPassword.secretIDKey | default "accessKey" }}
{{- $secretPasswordKey := .copyPassword.secretPasswordKey | default "secretKey" }}
{{- if .copyPassword.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: {{ .namespace | default $.Release.Namespace }}
type: Opaque
data:
  {{- $data := dict $secretIDKey $user }}
  {{- $data = merge $data (dict $secretPasswordKey $password) }}
  {{- toYaml $data | nindent 2 }}
{{- end }}
---
{{- end }}
