tasks:
  - name: all
    actions:
      - task: health-check
      - task: setup-bucket

  - name: setup-bucket
    actions:
      - description: Create the data store test package for the Minio instance
        cmd: ./uds zarf package create tests/minio --confirm --no-progress --architecture=${UDS_ARCH} --skip-sbom --no-progress
      - description: Deploy the test package into the cluster
        cmd: ./uds zarf package deploy zarf-package-minio-test-${UDS_ARCH}-0.1.0.tar.zst --confirm --no-progress
      - description: Validate Test Job Completed
        maxTotalSeconds: 300
        wait:
          cluster:
            kind: Job
            name: minio-job
            namespace: mc-cli
            condition: "'{.status.succeeded}'=1"

  - name: health-check
    actions:
      - description: Minio Operator Health Check
        wait:
          cluster:
            kind: Deployment
            name: minio-operator
            namespace: minio-operator
            condition: Available
      - description: Minio App/Tenant Status
        wait:
          cluster:
            kind: pod
            name: app=minio
            namespace: minio
            condition: Ready
      - description: Wait for console to be available
        maxTotalSeconds: 15
        wait:
          # wait for a network address to return a 200 OK response
          network:
            protocol: https
            address: minio-console.uds.dev
            code: 200
      - description: Wait for the operator console to be available
        maxTotalSeconds: 15
        wait:
          # wait for a network address to return a 200 OK response
          network:
            protocol: https
            address: minio-operator-console.admin.uds.dev
            code: 200
# TODO add playwright tests for ui + sso once sso is fully automatable in CI
