# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

tasks:
  - name: all
    actions:
      - task: ingress
      - task: setup-bucket

  - name: setup-bucket
    actions:
      - description: Create the data store test package for the Minio instance
        cmd: ./uds zarf package create tests/minio --confirm --no-progress --architecture="${UDS_ARCH}" --skip-sbom --no-progress
      - description: Deploy the test package into the cluster
        cmd: ./uds zarf package deploy "zarf-package-minio-test-${UDS_ARCH}-0.1.0.tar.zst" --confirm --no-progress
      - description: Validate Test Job Completed
        maxTotalSeconds: 300
        wait:
          cluster:
            kind: Job
            name: minio-test-job
            namespace: mc-cli
            condition: "'{.status.succeeded}'=1"
      - description: Validate Policy Job Completed
        maxTotalSeconds: 300
        wait:
          cluster:
            kind: Job
            name: minio-policy-job
            namespace: mc-cli
            condition: "'{.status.succeeded}'=1"

  - name: ingress
    actions:
      - description: Wait for console to be available
        maxTotalSeconds: 15
        wait:
          # wait for a network address to return a 200 OK response
          network:
            protocol: https
            address: minio-console.admin.uds.dev
            code: 200
# TODO add playwright tests for ui + sso once sso is fully automatable in CI
