name: Publish UDS Package Gitlab

on:
  push:
    branches:
      - main

jobs:
  tag-new-version:
    name: Tag New Version
    permissions: write-all
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release-flag.outputs.release_created }}
    steps:
      - name: Create release tag
        id: tag
        uses: googleapis/release-please-action@7987652d64b4581673a76e33ad5e98e3dd56832f # v4.1.3
      - id: release-flag
        run: echo "release_created=${{ steps.tag.outputs.release_created || false }}" >> $GITHUB_OUTPUT

  publish-package:
    needs: tag-new-version
    if: ${{ needs.tag-new-version.outputs.release_created == 'true' }}
    runs-on: uds-swf-ubuntu-big-boy-4-core
    name: Publish ${{ matrix.flavor }}
    strategy:
      matrix:
        flavor: [upstream, registry1]

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Environment setup
        uses: defenseunicorns/uds-common/.github/actions/setup@afd3aea72462ac21a715cb5dbc2654b42073ac40 # v0.11.0
        with:
          registry1Username: ${{ secrets.IRON_BANK_ROBOT_USERNAME }}
          registry1Password: ${{ secrets.IRON_BANK_ROBOT_PASSWORD }}
          ghToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Package
        run: uds run -f tasks/publish.yaml package --set FLAVOR=${{ matrix.flavor }}

      - name: Publish Bundle
        if: ${{ matrix.flavor == 'upstream' }}
        run: uds run -f tasks/publish.yaml test-bundle --set FLAVOR=${{ matrix.flavor }}

      - name: Save logs
        if: always()
        uses: defenseunicorns/uds-common/.github/actions/save-logs@afd3aea72462ac21a715cb5dbc2654b42073ac40 # v0.11.0
        with:
          suffix: '${{ matrix.flavor }}-${{ github.run_id }}-${{ github.run_attempt }}'
